
<div class="container">
  <div class="row">  

    <!-- tweet's author -->
    <div class="col-md-2">
      <%= link_to tweets_user_path(@user) do %>
        <div class="title"><%= @tweet.user.name %></div>
      <% end %>
    </div>

  <!-- tweet -->
    <div class="col-md-10">
      <div class="title">Tweets</div>
      <div class="tweet-item">
        <div class="user-date">
          <%= @tweet.user.name %>,
          <%= time_ago_in_words(@tweet.created_at) %>
        </div>
        <div class="tweet-index">
          <%= @tweet.description %>
        </div>
      </div>
    

    <!-- 顯示評論 -->

      <div class="title">Replies</div>

      <% @tweet.replies.each do |reply| %>

        <div class="tweet-item">
          <div class="user-date">
            <%= reply.user.name %>,
            <%= time_ago_in_words(reply.created_at) %>
          </div>
          <div class="tweet-index">
            <%= reply.comment %>
          </div>
        </div>

      <% end %>

    <!-- 評論框框 -->
        <%= form_for [@tweet, @reply] do |f| %>
          <div class= "tweet-area">
            <%= f.text_area :comment, {maxlength: 140, class: "form-control", rows: "3",placeholder: "Leave your message..."} %>
          </div>
          <%= f.submit class: "btn btn-primary pull-right" %>
        <% end %>

    </div>
  </div>
</div>

