    <div class="container">
      <div class="row">
        <div class="col-md-12">

          <%= form_for @tweet do |f| %>
            <%= f.text_area :description, {maxlength: 140, class: "form-control", rows: "5"} %>
            <br />
            <%= f.submit 'Tweet', class: "btn btn-primary" %>
          <% end %>
          
          <br />

          <% @tweets.each do |tweet| %>
            <p><%= tweet.description %> | <%= tweet.user %></p>
          <% end %>

        </div>
      </div>
    </div>