<div class="container">
  <div class="row">  

    <!-- tweet's author -->
    <div class="col-md-2">
      <div class="title"><%= @user.name %></div>
    </div>

    <!-- edit profile -->
    <div class="col-md-10">
      <%= form_for @user do |f| %>
        <%= f.text_field :name, class: "form-control"%>
        <br />
        <%= f.text_area :introduction,{maxlength: 140, class: "form-control", rows: "10",placeholder: "Type anything about you here ..."}%>
        <br />
        <%= f.submit "Update", class: "btn btn-primary pull-right"%>
      <% end %>
    </div>

  </div>
</div>
