<div class="container">
  <div class="row">  

    <!-- tweet's author -->
    <%= render partial: "shared/author" %>

    <!-- tweets -->
    <div class="col-md-10">
      <div class="title">Like</div>
      <% @likes.each do |like| %>
        <div class="tweet-item">
          <div class="user-date">
            <%= like.tweet.user.name %>,
            <%= time_ago_in_words(like.tweet.created_at) %>
          </div>
          <div class="tweet-index">
            <%= like.tweet.description %>
          </div>
          <%= link_to "Reply", tweet_replies_path(like.tweet) %>
        </div>
      <% end %>

     </div>

  </div>
</div>