<div class="container">
  <div class="row">  

    <!-- tweet's author -->
    <div class="col-md-2">
      <%= image_tag @user.avatar, width: '150px' if @user.avatar? %>
      <div class="title"><%= @user.name %></div>
      <div class="introduction"><%= @user.introduction %></div>
      <br />
      <% if @user == current_user %>
        <%= link_to 'Edit Profile', edit_user_path(current_user) , class: "btn btn-primary" %>
      <% else %>
        Follow
      <% end %>
    </div>

    <!-- tweets -->
    <div class="col-md-10">

      <% @tweets.each do |tweet| %>
        <div class="tweet-item">
          <div class="user-date">
            <%= tweet.user.name %>,
            <%= time_ago_in_words(tweet.created_at) %>
          </div>
          <div class="tweet-index">
            <%= tweet.description %>
          </div>
          <%= link_to "Reply", tweet_replies_path(tweet) %>
        </div>
      <% end %>

     </div>

  </div>
</div>

